.header {
    font-family: monospace;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:8px;
}

.logo {
    font-size: 48px;
    font-weight: 900px;
    color: tomato;
    background: white;
    padding: 4px 32px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
} 

li {
    display: inline-block;
    padding: 0 8px;
    list-style-type: none;
}

a {
    font-size: 22px;
    background: white;
    padding: 8px;
    text-decoration: none;
}


