.container {
    background-color: rgb(69, 69, 245);
    border: 2px solid black;
    width: 200px;
    height: 200px;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    background-color:rgb(226, 93, 93);
    border: 4px solid rgb(153, 57, 57);
    text-align: center;
    font-weight: bold;
    width: 80px;
    height: 80px;
}